src/SymbolTable.java
src/WaccVisitorErrorHandler.java
src/WaccType.java
src/antlr/WaccParserBaseVisitor.java
src/antlr/WaccParser.java
src/antlr/WaccParserVisitor.java
src/antlr/WaccLexer.java
src/AntlrVisitor.java
src/WaccParserErrorHandler.java
src/Main.java
